*.sh    text eol=lf
*.bat   text eol=crlf

.github/workflows/broken_links_checker.yml                         linguist-generated=true
# Need to use Go 1.23, see https://github.com/exasol/project-keeper/issues/616
#.github/workflows/project-keeper-verify.yml                        linguist-generated=true
.github/workflows/project-keeper.sh                                linguist-generated=true
server/pk_generated_parent.pom                                     linguist-generated=true
server/versionsMavenPluginRules.xml                                linguist-generated=true
dependencies.md                                                    linguist-generated=true
doc/changes/changelog.md                                           linguist-generated=true
go-client/go.sum                                                   linguist-generated=true

server/.settings/org.eclipse.jdt.core.prefs  linguist-generated=true
server/.settings/org.eclipse.jdt.ui.prefs    linguist-generated=true
