*.sh    text eol=lf
*.bat   text eol=crlf

server/pk_generated_parent.pom       linguist-generated=true
server/versionsMavenPluginRules.xml  linguist-generated=true
dependencies.md                      linguist-generated=true
doc/changes/changelog.md             linguist-generated=true
go-client/go.sum                     linguist-generated=true
