
.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
.idea
*.iml
target
.cache
dependency-reduced-pom.xml
.project
.classpath
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml
coverage.out
server/.settings/org.eclipse.jdt.apt.core.prefs
server/.settings/org.eclipse.core.resources.prefs
server/.settings/org.eclipse.m2e.core.prefs
